.button {
  color: #E900FF;
  font-family: 'Bangers', cursive;
  border: 1px solid #E900FF;
  border-radius: 5px;
  font-weight: 50px;
  padding: 3px 15px;
  transition: 1s;
  &:hover{
    background-color:#E900FF ;
    color: white;
    text-decoration: none;
    transition: 1s;
  }
}

.button-list {
  color: #E900FF;
  font-family: 'Bangers', cursive;
  border: 1px solid #E900FF;
  border-radius: 5px;
  font-size: 25px;
  padding: 3px 15px;
  transition: 1s;
  &:hover{
    background-color:#E900FF ;
    color: white;
    text-decoration: none;
    transition: 1s;
  }
}

.btn-movie {
  width:125px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.button-search-bar {
  margin-right: 5px;
}
