.card-list {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  color: #E900FF;
  border: 1px solid #E900FF;
  font-family: 'Bangers', cursive;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 5px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.pink-none-decoration{
  color: #E900FF;
  &:hover {
    color: #E900FF;
    text-decoration: none;
  }
}


@media screen and (max-width: 2000px) {
  .card-list {
    height: 150px;
    width: 222px;
  }
}

@media screen and (max-width: 720px) {
  .card-list {
    height: 100px;
    width: 355px;
  }
}
