label {
  color: white;
  font-family: 'Bangers', cursive;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

select {
  width: 100%;
  height: 25px;
}
